/* Styles */
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.content {
  padding: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.mat-card {
  margin-bottom: 1rem;
  &.expected-time {
    .mat-card-title {
      display: flex;
    }
  }
}
.mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.help-sidebar {
  width: 30%;
  padding: 1rem;
}

/* Extend */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
